body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom right, #f5f7fa, #c3cfe2);
  margin: 0;
  color: #333;
}

h2 {
  font-size: 34px;
  color: #4f46e5;
  margin-bottom: 20px;
}


.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}



header {
  background: white;
  padding: 15px 0;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  margin-bottom: 20px;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav ul {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #4f46e5;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #f3f4f6;
  transition: 0.3s;
  display: inline-block;
}

nav a:hover {
  background-color: #4f46e5;
  color: white;
}

main {
  padding: 40px 0;
}


.hero {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 40px 0;
  justify-content: space-between;
}

.hero-text {
  max-width: 550px;
}

.hero-text h2 {
  font-size: 42px;
  margin-bottom: 15px;
  line-height: 1.2;

  
}

.hero-text p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.6;

}

.hero-img{
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

}

.btn {
  background: #4f46e5;
  color: white;
  padding: 12px 22px;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  font-weight: 500;
  transition: 0.3s;
}

.btn :hover {
  background: rgba(13, 13, 13, 0.492);
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


.info {
  text-align: center;
  margin: 40px 0;
  line-height: 1.6;
}

.info h2 {
  margin-bottom: 10px;
}

.info p {
  max-width: 600px;
  margin: auto;
  color: rgb(49, 47, 47);
}

section {
  margin-bottom: 50px;
}

.cards {
  display: flex;
  gap: 25px;
  margin-top: 40px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-6px);
}

.card h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.card p {
  color: gray ;
  font-size: 14px;
  line-height: 1.6;
}

footer {
  text-align: center;
  padding: 20px;
  background: #eee;
  margin-top: 40px;
}

.page-title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #4f46e5;
}

.page-img {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 20px auto 40px auto;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}